
@font-face {
  font-family: "Ember";
  src: url("https://m.media-amazon.com/images/G/01/AUIClients/AmazonUIBaseCSS-amazonember_rg-8a9db402d8966ae93717c348b9ab0bd08703a7a7._V2_.woff");
  font-weight: 400;
}
@font-face {
  font-family: "Ember";
  src: url("https://m.media-amazon.com/images/G/01/AUIClients/AmazonUIBaseCSS-amazonember_rgit-a4dc98d644ff2aedd41da3da462f09ffce86eafb._V2_.woff");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Ember";
  src: url("https://m.media-amazon.com/images/G/01/AUIClients/AmazonUIBaseCSS-amazonember_bd-b605252f87b8b3df5ae206596dac0938fc5888bc._V2_.woff");
  font-weight: 600;
}
@font-face {
  font-family: "Ember";
  src: url("https://m.media-amazon.com/images/G/01/AUIClients/AmazonUIBaseCSS-amazonember_bdit-57598ce426a612be5a1d15eee08252668fca5e7a._V2_.woff");
  font-weight: 600;
  font-style: italic;
}


body {
  font-family: "Ember" !important;
  font-size: 13px;
    letter-spacing: 1px;
}

.title{
  text-align: center;
    font-size: 44px;
    margin-bottom: 25px;
}

.navigation_home {
    display: flex;
    padding: 0 5%;
    float: left;
}
.navigation_home ul {
    list-style: outside none none;
    width: 100%;
    padding-left: 0;
    margin: 3vw 0;
}
.navigation_home ul li {
    display: inline-block;

    font-size: 18px;
    font-weight: 300;
}
.navigation_home ul li a {
    float: left;
    padding: 0 40px 0 0;
    font-size: 18px;
    font-weight: 300;
    color: #009ee1;
    text-decoration: none;
}
.navigation_home ul li a:hover {
    float: left;
    padding: 0 40px 0 0;
    font-size: 18px;
    font-weight: 300;
    color: #000;
    text-decoration: none;
}
.navigation_home ul li a:active {
    float: left;
    padding: 0 40px 0 0;
    font-size: 18px;
    font-weight: 300;
    color: #009ee1;
    text-decoration: none;
}




  .MainContaner{
    text-align: left;
    padding-top: 50px;
    margin-bottom: 20px;
  }

  .mainDataBlock{
    margin-bottom: 40px;
  }

  input {
    width: -webkit-fill-available;
  }  


  .PU300x250{
    margin-bottom: 50px;
  }

  .Banner300x250{
    width: 300px;
    height: 250px;
    padding: 0 0 0 22px;
    display: inline-block;
    overflow: hidden;
  }

  .banner1_300x250{
    width: 300px;
    height: 250px;
    padding: 0 0 0 22px;
    display: inline-block;
    overflow: hidden;
  }

  .logo-copy300x250{
    height: 250px;
    width: 200px;
    overflow: hidden;
    display: table-cell;
    vertical-align: middle;
    word-wrap: break-word;
    position: relative;
  }

  .logoBlock300x250{
    height: auto;
    text-align: left;
    margin: 0 0 20px 0;
    vertical-align: middle;
  }

  .productBlock300x250 {
    width: 299px;
    height: 250px;
    position: absolute;
    overflow: hidden;
    z-index: 0;
    display: table-cell;
    margin-left: -22px;
    vertical-align: middle;
    text-align: right;
}

.heading300x250{
  font-size: 22px;
  line-height: 26px;
  width: 150px;
  white-space: pre-line;
}

.subheading300x250{
margin: 2px 0 0 0;
font-size: 14px;
width: 150px;
white-space: pre-line;
}


.Banner160x600{
  width: 160px;
  height: 600px;
  /* border-style: solid; */
  /* border-width: 1px; */
  padding: 0 0 0 8px;
  display: inline-block;
  overflow: hidden;
  /* outline: 1px solid black; */
  /* outline-offset: -1px; */
}

.logo-copy160x600{
  height: 250px;
  width: 200px;
  overflow: hidden;
  display: table-cell;
  vertical-align: middle;
  word-wrap: break-word;
  position: relative;
}

.logoBlock160x600{
  height: auto;
  text-align: left;
  margin: 0 0 20px 0;
  vertical-align: middle;
}

.productBlock160x600 {
  width: 158px;
  height: 300px;
  position: absolute;
  overflow: hidden;
  z-index: 0;
  display: table-cell;
  margin-left: -8px;
  vertical-align: middle;
  text-align: center;
}

.heading160x600{
font-size: 22px;
line-height: 26px;
width: 150px;
white-space: pre-line;
}

.subheading160x600{
margin: 2px 0 0 0;
font-size: 14px;
width: 150px;
white-space: pre-line;
}

.logoMargin{
  margin-top: 12px;
}




.divider {
  height: .5px;
  background: #000;
  background: -webkit-linear-gradient(left, rgb(255,255,255) 0%, rgb(50,50,50) 50%, rgb(255,255,255) 100%);
}
.divider.light {
  background: #fff;
  background: -webkit-linear-gradient(left, rgb(90,90,90) 0%, rgb(255,255,255) 50%, rgb(90,90,90) 100%);
}

.divider.light:before {
  position:relative;
  float:left;
  background: linear-gradient(to right, rgba(100, 100, 100, 0), rgba(100, 100, 100, 1) 50%);
  margin-top:2px;
  width:50%;
  height:.5px;
  content:"";
}

.divider.light:after {
  position:relative;
  float:right;
  background: linear-gradient(to left, rgba(100, 100, 100, 0), rgba(100, 100, 100, 1) 50%);
  margin-top:2px;
  width:50%;
  height:.5px;
  content:"";  
}

.divider:before {
  position:relative;
  float:left;
  background: linear-gradient(to right, rgba(200, 200, 200, 0), rgba(200, 200, 200, 1) 50%);
  margin-top:2px;
  width:50%;
  height:.5px;
  content:"";
}

.divider:after {
  position:relative;
  float:right;
  background: linear-gradient(to left, rgba(100, 200, 200, 0), rgba(200, 200, 200, 1) 50%);
  margin-top:2px;
  width:50%;
  height:.5px;
  content:"";  
}
/* Presentation only */
.width80 {
  width: 80%;
  margin: 0px auto;
  padding-top: 40px;
  padding-bottom: 40px;
}

.finalFiles_button{
  display: inline-block;
  padding: 4px 12px;
  letter-spacing: 0.5px;
  margin: 0 0.3em 0.3em 0;
  border-radius: 2em;
  border: none;
  text-decoration: none;
  font-size: 11px;
  color: #FFFFFF;
  background-color: #d64343;
  text-align: center;
  transition: all 0.2s;
}

.colorBox{
  float: right;
  width: 20px;
  height: 20px;
  margin: 5px;
  border: 1px solid rgba(0, 0, 0, .2);
}

.color1{
  background: #FFEBB7
}

.color2{
  background: #B2E5F6
}